<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/css/style.css" rel ="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
     <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" 
     crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    <header> 
    <div class="contenedorheader">
       <img width= "30%" src="/images/logo-mercado-liebre.svg" />
       <div class = "buscador"> Buscar, productos, marcas <i class="fas fa-search"></i> </div>
       <h4 class = "titulo"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito </h4> 
    </div>
    
    <div class = "cuerpo">
        <p> Ofertas </p>
        <p> Tiendas oficiales </p>
        <p> Vender </p>
        <p> Ayuda </p>
        <p> Crear cuenta <i class="fas fa-address-card"></i></i> </p>
        <p> Ingresa <i class="fas fa-sign-in-alt"></i> </p>
        <p> Mis compras <i class="fas fa-shopping-basket"></i> </p>
    </div>   
    <div class="menu">
        <i class="fas fa-bars hamburgesa"></i>
        </div>    
        
</header>

<main class="main">
    <img src="/images/img-home-banner.jpg" width="100%"/> 
    <div class="seccion">Basado en tu última visita </div>

    <div class="contenedor">

    <div class="articulo">
    <img width= "70" src="/images/img-cafetera-moulinex.jpg">
    <i class="fas fa-truck iconovehiculo"></i>
    <div class="precios"> $6.770 </div>
    <div class="descuentos">40% OFF</div> 
    <div class="descripciones">Cafetera Moulinex </div>
    </div>

<div class="articulo">
    <img width= "70" src="/images/img-macbook-pro-2019.jpg"> 
    <i class="fas fa-truck iconovehiculo"></i>
    <div class="precios">$230.000</div>
    <div class="descuentos">20% off</div>
    <div class="descripciones">MacBook Pro 2019"</div>    

</div> 

<div class="articulo">
    <img width= "70" src="/images/img-samsung-galaxy-s10.jpg" >
    <i class="fas fa-truck iconovehiculo"></i>
    <div class="precios"> $70.500</div>
    <div class="descuentos">10% off</div>
    <div class="descripciones"> Samsung Galaxy S10</div>
    
</div> 

<div class="articulo">
    <img width= "70" src="/images/img-tv-samsung-smart.jpg " >
    <i class="fas fa-truck iconovehiculo"></i>
    <div class="precios"> $23.200</div>
    <div class="descuentos"> 5% off</div>
    <div class="descripciones">SmartTv Samsung 43</div>
    </div>  
    </div>
     <div class="seccion">Seccion de Ofertas </div>

    <div class="contenedor">
    <div class="articulo"> 
            <img width= "70" src="/images/img-cafetera-moulinex.jpg" >
            <i class="fas fa-truck iconovehiculo"></i>
            <div class="precios">$6.770</div>
            <div class="descuentos">40% off</div>
           <div class="descripciones">Cafetera Moulinex</div>  
    </div>
     
    <div class="articulo"> 
            <img width= "70" src="/images/img-macbook-pro-2019.jpg" >
            <i class="fas fa-truck iconovehiculo"></i>
            <div class="precios">$230.000</div>
            <div class="descuentos">20% off</div>
            <div class="descripciones">MacBook Pro 2019"</div>
    </div>
   
    <div class="articulo">  
        <img width= "70" src="/images/img-samsung-galaxy-s10.jpg" >
        <i class="fas fa-truck iconovehiculo"></i>
        <div class="precios">$70.500</div>
        <div class="descuentos">10% off</div>
        <div class="descripciones">Samsung Galaxy S10</div>
    </div> 
    
    <div class="articulo"> 
        
        <img width= "70" src="/images/img-tv-samsung-smart.jpg" >
        <i class="fas fa-truck iconovehiculo"></i>
        <div class="precios">$23.200</div>
        <div class="descuentos">5% off</div>
        <div class="descripciones">SmartTv Samsung 43</div> 
    </div>
    </div>
            

    
</main>

<footer class="footer">
    <div class="articulofooter"> 
        <i class="fas fa-credit-card icono"></i>
        <div class="titulofooter">Pagá con tarjeta o en efectivo </div>
        <div> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</div>
        </div>

    <div class="articulofooter"> 
        <i class="fas fa-gift icono"></i> 
        <div class="titulofooter">Envío gratis desde $ 2.500</div>
        <div>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos. </div>
</div>
    
    <div class="articulofooter"> 
        <i class="fas fa-user-shield icono"></i>
        <div class="titulofooter"> Seguridad, de principio a fin</div>
        <div>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, 
            porque estás siempre protegid@.</div>
        </div>
       
        <div class="articulofooter" > Copyright © 1999-2020 MercadoLiebre S.R.L. </div>
  
</footer>
</body>
</html>