<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/css/login.css" rel ="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
     <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" 
     crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>login</title>
</head>
 <body> 
<header> 
    <div class="contenedorheader">
       <img width= "30%" src="/images/logo-mercado-liebre.svg" />
       <div class = "buscador"> Buscar, productos, marcas <i class="fas fa-search"></i> </div>
       <h4 class = "titulo"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito </h4> 
    </div>
    
    <div class = "cuerpo">
        <p> Ofertas </p>
        <p> Tiendas oficiales </p>
        <p> Vender </p>
        <p> Ayuda </p>
        <p> Crear cuenta <i class="fas fa-address-card"></i></i> </p>
        <p> Ingresa <i class="fas fa-sign-in-alt"></i> </p>
        <p> Mis compras <i class="fas fa-shopping-basket"></i> </p>
    </div>   
    <div class="menu">
        <i class="fas fa-bars"></i>
        </div>    
        
</header>

<main class="login">
    <form action= "/login" method= "get">
    <label for="nombre"> Nombre y Apellido: </label>
    <input type="text" name="nombre" id="nombre"> <br>

    <label for="contraseña"> Contraseña: </label>
    <input type="password" name="contraseña" id="contraseña" > <br>

    <input class="enviar" type="submit" name="ENVIAR" value="ENVIAR">

</main>

 </body>

